[mysqld]
user = root
# data파일 경로
datadir = /var/lib/mysql
# 3306 사용
port = 3306
# 빈로그 저장 설정 및 저장할 디렉토리 지정
log-bin = /var/lib/mysql/mysql-bin
# mysql 원격접속 허용
bind-address = 0.0.0.0
# 과거에 사용되던 원격접속 허용방식(?) [주석처리 = false] 같은 의미?
skip-networking = false